<div>
    <h3 [attr.data-testid]="'player__name'">Player {{ player?.name }}</h3>

    <p [attr.data-testid]="'player__score'">Score: {{ player?.score }}</p>

    <ng-content></ng-content>

    @if(player && player.data) {
        <div [attr.data-testid]="'player__card'" [class.highlight]="player.roundWinner">
            @if(isPerson(player.data)) {
                <app-person-card [person]="player.data"></app-person-card>
            }
            @if (isStarship(player.data)) {
                <app-starship-card [starship]="player.data"></app-starship-card>
            }
        </div>
    }
</div>